{erl_opts, [debug_info]}.
{deps, [
  {getopt, {git, "https://github.com/zmstone/getopt", {tag, "v1.0.2.1"}}},
  {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.10.1"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [mqtt_retain_bm]}
]}.

{escript_name, mqtt_retain_bm}.
{escript_main_app, mqtt_retain_bm}.
{escript_emu_args, "%%! -smp true +K true +A 16 +P 16000000 +Muacnl 0 +hms 64 -env ERL_MAX_PORTS 16000000 -env ERTS_MAX_PORTS 16000000\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_incl_apps, [getopt, emqtt]}.
